/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ROOT*/
:root{
    /*colores*/
    --color-titulos: #4A2C22;
    --color-subtitulos: #C45F3D;
    --color-texto: #6B5145;
    --color-p: #66745C;
    --color-card: #E9D8C6;
    --color-fondo: #FFF9F1;

    /*tipografia*/
    --font-titulos: "Playfair Display", serif;
    --font-texto: "Montserrat", sans-serif;
    --font-decorativa: "Caveat", cursive;
}


/* ESTILOS GENERALES */
h1{
    font-family: var(--font-texto);
    font-weight: 600;
    font-size: 45px;
    color: var(--marron);
    padding: 10px;
}

h2,h3,h4{
    font-family: var(--font-titulos);
    color: var(--color-subtitulos);
    font-weight: 600;
    padding: 10px;
}

h2{
    font-size: 38px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 26px;
}

p{
    font-family: var(--font-texto);
    font-size: 20px;
    font-weight: 400;
    color: var(--color-p);
    padding: 10px;
}

body {
    background-color: var(--color-fondo);
}

button{
    background-color: var(--color-subtitulos);
    font-family: var(--font-texto);
    color: var(--color-fondo);
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    margin: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* HEADER Y NAVEGACIÓN */
header{
    padding: 20px;
    background-color: var(--color-card);
    display: flex;
    align-items: center;
}

nav ul li a{
    font-family: var(--font-titulos);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-subtitulos);
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--color-fondo);
    padding: 10px;
}

nav ul{
    display: flex;
    gap: 30px;
}

/* CONTENIDO */

.banner-home{
    background-image: url(../assets/img/banner2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 400px;
    background-position: left 60%;
}

.info{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;
}

.info h2, p{
    font-size: medium;
}

.logo{
    width: 120px;
    height: 100px;
}

.logos{
    width: 60px;
    height: auto;
}

.cards{
    display: flex;
    gap: 25px;
    padding: 20px;
    align-items: stretch;
}

.categorias {
    display: flex;
    gap: 12px;
    width: 65%;
}

.box {
    background-color: var(--color-card);
    border-radius: 15px;
    width: 25%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.box h4{
    font-size: 20px;
    text-align: center;
}

.box img{
    width: 65px;
    height: 65px;
    object-fit: contain;
}

.box_2 {
    background-image: url(../assets/img/ofertas.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35%;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

    background-color: var(--color-card);
    border-radius: 15px;
    padding: 25px;
}

video{
    width: 500px;
}

/* FOOTER */
footer{
    background-color: var(--color-p);
}

footer p{
    color: var(--color-fondo);
    font-size: small;
}

footer h3{
    color: var(--color-fondo);
    font-size: medium;
}

